body {
    background: #dfdfdf;
    font-family: 'Raleway', sans-serif;
    color: #343434;
    margin: 0; /* Margem criada para retirar uma margem que vem naturalmente */
}

.container {
    width: 900px;
    margin: 0 auto;
}

.cabeçalho {
    text-align: center;
    margin-bottom: 40px;

}

.foto {
    width: 200px;
    border: 2px solid #FFFFFF;
    border-radius: 50%; 
    margin: 30px 30px 0 30px;
    box-shadow: 0px 0px 10px #959595;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: #727272;
    font-weight: 100;
    letter-spacing: -1px;
}

h4 {
    margin-bottom: 5px; /* Tag usada para tirar espaçamento perto do h5 */
}

h5 {
    margin-top: 0; /* Tag usada para tirar espaçamento perto do h4 */
    margin-bottom: 5px; /* Espaçamento para o parágrafo abaixo da página*/
    font-weight: 100; /* Espessura da fonte */
    font-style: italic; /* Estilo da fonte */
}

p {
    line-height: 25px;
    margin-top: 0;
}

.social-icons {
    width: 20px; 
}

.social-links {
    text-decoration: none;
}

.linkedin {
    margin: 0 15px 0 15px;
}

.jobs-list {
    list-style: none; /* Tag para retirada dos pontinhos na lista */
    padding-left: 20px; /* Tag usada para tirar espaçamento que ficou ao tirar os pontinhos da lista, pois teve que alinhar com a lista acima */
}

.footer {
    background-color: #000000; /* Cor de fundo do footer */
    margin-top: 40px; /* Margem para espaçar o div acima */
    color: #FFFFFF; /* Cor do texto */
    text-align: center; /* Centralização do texto */
    padding: 10px 0; /* Espaçamento vertical do textos */
}