body {
    background: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif; /* Altera a fonte da página. Digita-se mais de uma fonte para servir caso o sistema não consiga carregar a primeira selecionada. Caso a fonte tenha mais de duas palavras deve-se digitar o nome da fonte dessa forma : 'dois nomes' */
    color: #343434; /* Altera a cor do texto background */
}

.foto {
    width: 200px;
    border: 2px solid #FFFFFF;
    border-radius: 50%; 
    margin: 30px;
    box-shadow: 0px 0px 10px #959595;
}

h1 {
    margin-bottom: 0;
    letter-spacing: -1px;
}

h2 {
    margin-top: 0;
    font-style: italic; /* Altera o estilo da fonte */
    color: #727272;
    font-weight: 100; /* Naturalmente as fontes são em negrito, usando esta tag pode-se alterar a espessura */
    letter-spacing: -1px; /* Para aumentar o espaçamento do texto usa0se esta tag */
}